<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h3>Create a new listing</h3>
    <br /><br />
    <form method="post" action="/listings">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          placeholder="Enter a catchy title"
          class="form-control"
          type="text"
          name="listing[title]"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
        ></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image link</label>
        <input
          placeholder="Enter URL Image"
          class="form-control"
          type="text"
          name="listing[image]"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            placeholder="1500"
            class="form-control"
            type="number"
            name="listing[price]"
          />
        </div>
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input
            placeholder="Guntur, Andhra Pradesh"
            type="text"
            name="listing[location]"
            class="form-control"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          placeholder="India"
          class="form-control"
          type="text"
          name="listing[country]"
        />
      </div>
      <button class="btn btn-dark ">Submit</button>
      <br /><br />
    </form>
  </div>
</div>
